<router-outlet></router-outlet>
<app-container>
  <div class="container">
    <div class="container-search-pokemon">
      <app-autocomplete
        [options]="listaDeOpcoes"
        label="Pesquisar Pokémon"
        (valueChange)="onSelecionaPokemon($event)">
      </app-autocomplete>
    </div>
    <div class="table-search-pokemon">
      <app-table [titles]="titles" [data]="data"> </app-table>

    </div>
    <app-pokemon-card [data]="pokemonData"></app-pokemon-card>

  </div>
</app-container>

