<app-container>
  <div class="container">
    <div class="container-search-pokemon">
      <app-autocomplete
        [options]="listaDeOpcoes"
        label="Pokémon"
        (valueChange)="onSelecionaPokemon($event)">
      </app-autocomplete>
    </div>
    <div class="table-search-pokemon">
      <app-table
        [titles]="titles"
        [data]="data"
        [count]="count"
        [pageSize]="pageSize"
        [currentPage]="currentPage"
        (pageChange)="loadPage($event)"
        (selectPokemon)="onPokemonSelected($event)">
      </app-table>
      <app-modal-pokemon [open]="modalOpen" [pokemon]="selectedPokemon" (close)="modalOpen = false"></app-modal-pokemon>
    </div>
  </div>
</app-container>
